{% load static %}

{% block content %}
<button class="chatbot-toggler">
  <span class="material-symbols-rounded">mode_comment</span>
  <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
  <header class="d-flex justify-content-around">
    <div class="float-begin ml-5">
      <button type="button" class="btn btn-sm btn-outline-info" id="home" data-text="Home" onclick="handleOuterOpt(this);">
        <i class="bi bi-house-fill"></i>
      </button>
    </div>
    <h2>Chatbot</h2>
    <div class="float-end mr-5">
      <button type="button" class="btn btn-sm btn-outline-danger" id="logout" data-text="Logout" onclick="handleOuterOpt(this);">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
    <span class="close-btn material-symbols-outlined">close</span>
  </header>
  <ul class="chatbox">
    <li class="chat incoming">
      <span class="material-symbols-outlined">smart_toy</span>
      <p>Hi there {% if request.user.is_authenticated or not request.user.is_staff %}{{request.user.username}}{% endif %}👋<br>How can I help you today?</p>
    </li>
    {% if not request.user.is_authenticated or request.user.is_staff %}
    <!-- <li class="chat incoming">
      <span class="material-symbols-outlined">smart_toy</span>
      <p>Please Provide Patient ID or Name.</p>
    </li> -->
    {% endif %}
  </ul>
  <div class="chat-input">
    <textarea placeholder="Enter a message..." spellcheck="false" required style="background-color: #f0f0f0; color: #000000;"></textarea>
    <input type="text" hidden autocomplete="off" placeholder="Enter a message..." spellcheck="false" required
      style="background-color: #f0f0f0; color: #000000;"  class="datepicker_chat form-control"></input>
    <span id="send-btn" class="material-symbols-rounded">send</span>
  </div>
</div>

<script type="application/javascript">
  $(function(){
    window.ApiKey = '';
    window.CsrfToken = '{{ csrf_token }}';
    window.ApiUrl = "{% url 'dataStorage:bot_chat' %}";

    $('.datepicker_chat').datepicker({
      format: 'dd-M-yyyy',
      autoclose: true,
      monthNames: ['January','February','March','April','May','June','July','August','September','October','November','December'],
      monthNamesShort: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
      weekStart: 0,
      calendarWeeks: true,
    });

    let incomingChatBtn = createChatBtn(
      "Login",
      "chat_option btn btn-sm btn-outline-info m-2 float-end",
      "login",
    );
    chatbox.appendChild(incomingChatBtn);
    chatbox.scrollTo(0, chatbox.scrollHeight);
    incomingChatBtn.addEventListener("click", handleOpt);

    let incomingRegChatBtn = createChatBtn(
      "Register",
      "chat_option btn btn-sm btn-outline-success m-2 float-begin",
      "register",
    );
    chatbox.appendChild(incomingRegChatBtn);
    chatbox.scrollTo(0, chatbox.scrollHeight);
    incomingRegChatBtn.addEventListener("click", handleOpt);
  });
</script>
{% endblock content %}