{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bot_style.css' %}">
<link rel="stylesheet" href="{% static 'css/material-symbols-outlined.css' %}">
<link rel="stylesheet" href="{% static 'css/material-symbols-rounded.css' %}">
{% endblock stylesheet %}

{% block javascript %}
<script src="{% static 'javascript/bot_script.js' %}" defer></script>
{% endblock javascript %}

{% block content %}
<button class="chatbot-toggler">
  <span class="material-symbols-rounded">mode_comment</span>
  <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
  <header>
    <h2>Chatbot</h2>
    <span class="close-btn material-symbols-outlined">close</span>
  </header>
  <ul class="chatbox">
    <li class="chat incoming">
      <span class="material-symbols-outlined">smart_toy</span>
      <p>Hi there 👋<br>How can I help you today?</p>
    </li>
  </ul>
  <div class="chat-input">
    <textarea placeholder="Enter a message..." spellcheck="false" required style="background-color: #f0f0f0; color: #000000;"></textarea>
    <span id="send-btn" class="material-symbols-rounded">send</span>
  </div>
</div>

<script type="application/javascript">
  $(function(){
    window.ApiKey = '';
    window.CsrfToken = '{{ csrf_token }}';
    window.ApiUrl = "{% url 'dataStorage:bot_chat' %}";
  });
</script>
{% endblock content %}