{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
#patient_list_div, #patient_info_div {
  height: calc(100vh - 25vh);
  background-color: lightgrey;
  overflow-y:auto;
  overflow-x:hidden;
}

#PrescriptionModalBody {
  height: calc(100vh - 30vh);
  overflow-y:auto;
  overflow-x:hidden;
}

.small-close-btn {
  height: 0.25em;
  width: 0.25em;
  padding: 0.25em 0.25em;
  padding-y: 0.25rem;
  padding-x: 0.25rem;
  font-size: 1rem;
  border-radius: var(--bs-border-radius-sm);
}

.num {
  width: 40px;
  display: inline-block;
}

.nav-tabs {
  border-bottom: 2px solid black;
}

.nav-tabs > .nav-item {
  margin-right: 2px;
  margin-left: 2px;
}

.nav-tabs > .active > a {
  border-bottom: none;
  position: relative;
  top: 2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.nav-item > .need_review {
  color: white;
  background-color: #dc3545;
}

.nav-tabs .nav-link.active {
  color: black;
  background-color: #ffc107;
}

.nav-item > .reviewed {
  color: white;
  background-color: #198754;
}

.ui-datepicker, .datepicker-dropdown, .dropdown-menu, .table-condensed {
  width: 350px;
}

.disabled-date {
  color: red;
  text-color: red;
}
{% endblock styles %}

{% block javascriptEnd %}
<script type="text/javascript" src="{% static 'javascript/doctor_home.js' %}"></script>
{% endblock javascriptEnd %}

{% block content %}
<nav hidden>
  <ul class="pagination justify-content-center scrollable-div" id="legend">
    <strong></strong>
  </ul>
</nav>

<div class="modal fade" id="addPrescriptionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header">
            Add Prescription(s) for <span id="prescriptionPatientName"></span>
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="card-body" id="PrescriptionModalBody"></div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-primary float-left" id="addBtn">Add</button>
            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" onclick="$('#addPrescriptionModal').modal('hide');">Close</button>
            <button type="button" class="btn btn-success float-right" onclick="processPrescription();">Create Prescription</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<datalist id="id_medicine_list">
  {% for medicine in medicines %}
  <option value="{{medicine.name}}">{{medicine.name}}</option>
  {% endfor %}
</datalist>

<datalist id="id_patients_list">
  {% for patient in patients %}
  <option value="{{patient.id}}">{{patient.name}}</option>
  {% endfor %}
</datalist>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog">
  <div class="modal-dialog ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header"></div>
          <div class="card-body" id="alertModalBody">
            <p id="alertMessage"></p>
          </div>
          <div class="modal-footer justify-content-between">
            <button class="btn btn-sm btn-primary" data-dismiss="modal" onclick="$('#alertModal').modal('hide');">Cancel</button>
            <button class="btn btn-sm btn-danger" id="confirmDeleteBtn">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addPatient" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header">
            Add Patient Detail
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="card-body" id="addPatientModalBody">
            <div class='col-md-12'>{{ patientForm.patient | as_crispy_field }}</div>
            <div class="row">
              <div class='col-md-6'>{{ patientForm.date_of_birth | as_crispy_field }}</div>
              <div class='col-md-6'>{{ patientForm.phone_number | as_crispy_field }}</div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" onclick="$('#addPatient').modal('hide');">Close</button>
            <button type="button" class="btn btn-success float-right" onclick="addPatientDetail();">Add Patient</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modifyPatient" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header">
            Modify Patient Detail
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="card-body" id="modifyPatientModalBody" data-patient_id="">
            <div class='col-md-12'>
              <div id="div_id_patient" class="mb-3">
                <label for="id_patient" class="form-label requiredField">
                  Patient Name<span class="asteriskField">*</span>
                </label>
                <input type="text" name="patient" class="textinput form-control" required="" id="id_patient" value="{{patient.name}}" readonly>
              </div>
            </div>
            <div class="row">
              <div class='col-md-6'>{{ patientForm.date_of_birth | as_crispy_field }}</div>
              <div class='col-md-6'>{{ patientForm.phone_number | as_crispy_field }}</div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" onclick="$('#modifyPatient').modal('hide');">Close</button>
            <button type="button" class="btn btn-success float-right" onclick="modifyPatientDetail();">Modify Patient</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="select_appointment_slot" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header">
            Select Appointment Slot
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="card-body row" id="select_appointment_slotModalBody"></div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" onclick="$('#select_appointment_slot').modal('hide');">Close</button>
            <button type="button" class="btn btn-success float-right" onclick="selectAppointmentSlot();" id="selectAppointment">Select Appointment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="patient_list" data-bs-toggle="tab" data-bs-target="#patient_tab">Patient(s)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="appointment_list" data-bs-toggle="tab" data-bs-target="#appointment_tab">Appointment(s)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="schedule_list" data-bs-toggle="tab" data-bs-target="#schedule_tab">Schedule(s)</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="patient_tab" role="tabpanel" aria-labelledby="patient_tab">
    <div class="row">
      <div class="col-2 border border-success p-2 mb-2 border-5" id="patient_list_div">
        <input type="text" onkeyup="filter_patient()" id="id_filter_patient" class="form-control my-2" placeholder="Filter Patient(s)">
        <div class="accordion" id="patients" style="overflow-y: auto;">
          <ul class="list-group">
            <li style="cursor: pointer;" id="add_patient" onclick="$('#addPatient').modal('show');"
              class="card-body list-group-item list-group-item-action border border-dark text-center">
              <button type="button" class="btn btn-sm btn-success col-block">
                Add Patient
              </button>
            </li>
            {% for patient in patients %}
            <li style="cursor: pointer;" class="card-body list-group-item list-group-item-action border border-dark patient text-left" id="patient_{{patient.id}}"
              data-patient_id="{{patient.id}}" data-patient_name="{{patient.name}}" data-patient_age="{{patient.age}}" onclick="showPatientDetails(this);">
              {{patient.name}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-10 border border-primary p-2 mb-2 border-5" id="patient_info_div">
        <div id="patient_info" hidden>
          <ul class="list-group">
            <li class="list-group-item border border-dark">
              <div class="row">
                  <div class="col-4">
                    <strong>Name: </strong><span id="patient_info_name"></span>
                  </div>
                  <div class="col-5">
                    <strong>Age: </strong><span id="patient_info_age"></span>
                  </div>
                  <div class="col-1">
                    <strong>ID: </strong><span id="patient_info_id"></span>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-sm btn-primary float-end" id="patient_btn_id" onclick="modifyPatient(this);">
                      <i class="fas fa-pencil"></i>
                    </button>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-sm btn-primary float-end" onclick="$('#addPrescriptionModal').modal('show');">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
              </div>
            </li>
          </ul>
        </div>
        <br/>
        <div id="patient_prescription" hidden>
          <div class="row" id="prescription_cards"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="appointment_tab" role="tabpanel" aria-labelledby="appointment_tab">
    <table class="table table-hover table-fixed table-sm table-success" id="appointment_table">
      <thead>
        <tr>
          <th rowspan="2" style="vertical-align: middle;">Patient ID</th>
          <th rowspan="2" style="vertical-align: middle;">Patient Name</th>
          <th colspan="5" style="vertical-align: middle;" class="text-center">Appointment</th>
        </tr>
        <tr>
          <th style="vertical-align: middle;">Date</th>
          <th style="vertical-align: middle;">From</th>
          <th style="vertical-align: middle;">To</th>
          <th style="vertical-align: middle;">Status</th>
          <th style="vertical-align: middle;">Actions</th>
        </tr>
      </thead>
      <tbody id="appointment_tableBody">
        {% for appointment in appointments %}
        <tr class="appointment" id="appointment_{{appointment.appointment_id}}">
          <td>{{appointment.patient_id}}</td>
          <td>{{appointment.patient_name}}</td>
          <td>
            <span name="span_appointment_date_update">{{appointment.appointment_date}}</span>
            <input type="text" name="id_appointment_date_update" autocomplete="off"
              class="datepicker_single form-control" hidden value="{{appointment.appointment_date}}"></input>
          </td>
          <td>
            <span name="span_appointment_from_time_update">{{appointment.appointment_from_time_str}}</span>
            <input type="time" name="id_appointment_from_time_update"
              class="form-control from" hidden value="{{appointment.appointment_from_time}}"></input>
          </td>
          <td>
            <span name="span_appointment_to_time_update">{{appointment.appointment_to_time_str}}</span>
            <input type="time" name="id_appointment_to_time_update"
              class="form-control to" hidden value="{{appointment.appointment_to_time}}"></input>
          </td>
          <td>
            <span name="span_appointment_status_update">{{appointment.appointment_status}}</span>
            <select name="id_appointment_status_update" class="form-select" hidden>
              {% for status_choice in status_choices %}
              <option value="{{status_choice.0}}" {% if appointment.appointment_status == status_choice.0 %}selected="selected"{% endif %}>{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td hidden name="id_appointment_id_update">{{appointment.appointment_id}}</td>
          <td>
            <button onclick="showAppointmentUpdateForm(this);" class="btn btn-sm btn-primary"
              data-from_date_time="{{appointment.appointment_from_date_time}}"
              data-to_date_time="{{appointment.appointment_to_date_time}}"
              data-patient_id="{{appointment.patient_id}}"
              data-appointment_id="{{appointment.appointment_id}}">Update</button>
            <button onclick="confirmAppointmentDelete(this);" data-appointment_id="{{appointment.appointment_id}}" class="btn btn-sm btn-danger">Delete</button>
            <button onclick="updateAppointmentRow(this, 'appointment_{{appointment.appointment_id}}');" class="btn btn-sm btn-success" hidden>Done</button>
            <button onclick="cancelAppointmentUpdate(this);" class="btn btn-sm btn-secondary" hidden>Cancel</button>
          </td>
        </tr>
        {% endfor %}
        <tr id="appointment_insert">
          <td colspan="2">
            <input type="text" name="patient" autocomplete="off" class="textinput textInput form-control" id="id_appointment_patient_insert" list="id_patients_list">
          </td>
          <td>
            <input type="text" id="id_appointment_date_insert" class="datepicker_single form-control" autocomplete="off">
          </td>
          <td>
            <input type="time" id="id_appointment_from_time_insert" class="form-control from">
          </td>
          <td>
            <input type="time" id="id_appointment_to_time_insert" class="form-control to">
          </td>
          <td>
            <select name="appointment_status" id="id_appointment_status_insert" class="form-select">
              {% for status_choice in status_choices %}
              <option value="{{status_choice.0}}">{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <button onclick="insertAppointmentRow(this);" class="btn btn-outline-primary">Insert Appointment</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="schedule_tab" role="tabpanel" aria-labelledby="schedule_tab">
    <table class="table table-hover table-fixed table-sm table-success" id="schedule_table">
      <thead>
        <tr>
          <th>Schedule Month Year</th>
          <th>Unavailable Days</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="schedule_tableBody">
        {% for schedule in schedules %}
        <tr class="schedule">
          <td>{{schedule.schedule_month_year}}</td>
          <td>
            <span name="span_unavailable_count_update" data-bs-placement="right"
            data-toggle="tooltip" data-bs-original-title="{{schedule.rejected_days}}">{{schedule.rejected_days_count}}</span>
            <input type="text" name="id_unavailable_count_update" autocomplete="off"
              class="datepicker_multiple form-control" hidden value="{{schedule.rejected_days}}">
          </td>
          <td>
            <span name="span_schedule_status_update">{{schedule.status}}</span>
            <select name="id_schedule_status_update" class="form-select" hidden>
              {% for status_choice in schedule_status_choices %}
              <option value="{{status_choice.0}}" {% if schedule.status == status_choice.0 %}selected="selected"{% endif %}>{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <button onclick="showScheduleUpdateForm(this);" class="btn btn-sm btn-primary">Update</button>
            <button onclick="scheduleConfirmDelete(this);" data-schedule_id="{{schedule.schedule_id}}" class="btn btn-sm btn-danger">Delete</button>
            <button onclick="scheduleUpdateRow(this);" data-schedule_id="{{schedule.schedule_id}}" class="btn btn-sm btn-success" hidden>Done</button>
            <button onclick="scheduleCancelUpdate(this);" class="btn btn-sm btn-secondary" hidden>Cancel</button>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td>
            <input type="month" name="schedule_month" autocomplete="off" class="form-control" id="id_schedule_month_insert">
          </td>
          <td>
            <input type="text" id="id_schedule_days_insert" class="datepicker_multiple form-control" autocomplete="off">
          </td>
          <td>
            <select name="schedule_status" id="id_schedule_status_insert" class="form-select">
              {% for status_choice in schedule_status_choices %}
              <option value="{{status_choice.0}}">{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <button onclick="scheduleInsertRow(this);" class="btn btn-outline-primary">Insert Schedule</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <script type="application/javascript">
    $(function(){
      window.setInterval(doctor_homeReload, 5 * 60 * 1000);
      datepicker_operation({{unavailable|safe}});
      populate_unavailable_tooltip();

      document.getElementById('addBtn').addEventListener('click', event => {
        form = `<div class="input-group input-group-sm lex-nowrap mb-3">
          <input type="text" name="medicine_name" class="form-control" placeholder="Medicine Name" style="width: 130px;" list="id_medicine_list" autocomplete="off">
          <input type="number" name="before_breakfast" class="form-control" placeholder="Before Breakfast" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="after_breakfast" class="form-control" placeholder="After Breakfast" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="before_lunch" class="form-control" placeholder="Before Lunch" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="after_lunch" class="form-control" placeholder="After Lunch" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="before_dinner" class="form-control" placeholder="Before Dinner" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="after_dinner" class="form-control" placeholder="After Dinner" min="0" oninput="validity.valid||(value='');">
          <button class="btn btn-outline-secondary" type="button" name="remove_medicine">&#x2715;</button></div>`;
        document.getElementById('PrescriptionModalBody').insertAdjacentHTML('beforeend', form);
        identityRemoveBtn = document.querySelectorAll('button[name="remove_medicine"]');
        identityRemoveBtn.forEach(el => el.addEventListener('click', event => {
          event.target.parentNode.remove();
        }));
      });

    });

    function addPatientDetail() {
      let divEle = document.getElementById('addPatientModalBody');
      let patient_name = divEle.querySelector('#id_patient').value;
      let date_of_birth = divEle.querySelector('#id_date_of_birth').value;
      let phone_number = divEle.querySelector('#id_phone_number').value;
      $.ajax({
        url : "{% url 'dataStorage:patient_operation' %}",
        type : "POST",
        data : {
          'patient_name': patient_name,
          'date_of_birth': date_of_birth,
          'phone_number': phone_number,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse, textMsg, xhr) {
          notify_message(HttpResponse.message, 'success');
          window.scrollTo(0, 0);
          $('#addPatient').modal('hide');
          doctor_homeReload();
          divEle.querySelector('#id_patient').value = "";
          divEle.querySelector('#id_date_of_birth').value = "";
          divEle.querySelector('#id_phone_number').value = "";
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function fetchPatientDetails(patient_id) {
      $.ajax({
        url : "{% url 'dataStorage:patient_operation' %}",
        type : "GET",
        data : {
          'patient_id': patient_id,
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse, textMsg, xhr) {
          notify_message(HttpResponse.message, 'info');
          window.scrollTo(0, 0);
          document.getElementById("patient_btn_id").setAttribute("data-patient_id", patient_id);
          populatePrescriptions(HttpResponse.prescriptions);
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function processPrescription() {
      let patient_id = document.getElementById('patient_info_id').innerText;
      $.ajax({
        url : "{% url 'dataStorage:prescription_operation' %}",
        type : "POST",
        data : {
          'patient_id': patient_id,
          'prescription': createPrescription(),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse, textMsg, xhr) {
          notify_message(HttpResponse.message, 'info');
          window.scrollTo(0, 0);
          document.getElementById("PrescriptionModalBody").innerHTML = "";
          $('#addPrescriptionModal').modal('hide');
          document.getElementById("patient_"+patient_id).click();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function insertAppointmentRow(ele) {
      let appointment_patient = document.getElementById('id_appointment_patient_insert').value;
      let appointment_date = document.getElementById('id_appointment_date_insert').value;
      let appointment_from_time = document.getElementById('id_appointment_from_time_insert').value;
      let appointment_to_time = document.getElementById('id_appointment_to_time_insert').value;
      let appointment_status = document.getElementById('id_appointment_status_insert').value;
      $.ajax({
        url : "{% url 'dataStorage:appointment_operation' %}",
        type : "POST",
        data : {
          'appointment_patient': appointment_patient,
          'appointment_date': appointment_date,
          'appointment_from_time': appointment_from_time,
          'appointment_to_time': appointment_to_time,
          'appointment_status': appointment_status,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse,textMsg, xhr) {
          window.scrollTo(0, 0);
          notify_message(HttpResponse.res_message, 'info');
          doctor_homeReload();
          document.getElementById('id_appointment_patient_insert').value = "";
          document.getElementById('id_appointment_date_insert').value = "";
          document.getElementById('id_appointment_from_time_insert').value = "";
          document.getElementById('id_appointment_to_time_insert').value = "";
          document.getElementById('id_appointment_status_insert').value = "";
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          try {
            notify_message(xhr.responseJSON.res_message, 'danger');
            populateSlots(xhr.responseJSON.available_slots);
            row_id = ele.parentNode.parentNode.getAttribute("id");
            document.getElementById("selectAppointment").setAttribute("onclick", "selectAppointmentSlot('"+row_id+"');");
          } catch (error) {
            alert('Please fill in all fields.');
          }
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function scheduleInsertRow() {
      let schedule_month = document.getElementById('id_schedule_month_insert').value;
      let schedule_days = document.getElementById('id_schedule_days_insert').value;
      let schedule_status = document.getElementById('id_schedule_status_insert').value;
      $.ajax({
        url : "{% url 'dataStorage:schedule_operation' %}",
        type : "POST",
        data : {
          'schedule_month': schedule_month,
          'schedule_days': schedule_days,
          'schedule_status': schedule_status,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse,textMsg, xhr) {
          window.scrollTo(0, 0);
          doctor_homeReload();
          document.getElementById('id_schedule_month_insert').value = "";
          document.getElementById('id_schedule_days_insert').value = "";
          document.getElementById('id_schedule_status_insert').value = "";
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function updateAppointmentRow(button, row_id) {
      let tableRow = button.parentNode.parentNode;
      let appointment_date = tableRow.querySelector('[name="id_appointment_date_update"]').value;
      let appointment_from_time = tableRow.querySelector('[name="id_appointment_from_time_update"]').value;
      let appointment_to_time = tableRow.querySelector('[name="id_appointment_to_time_update"]').value;
      let appointment_status = tableRow.querySelector('[name="id_appointment_status_update"]').value;
      let appointment_id = tableRow.querySelector('[name="id_appointment_id_update"]').innerText;

      $.ajax({
        url : "{% url 'dataStorage:appointment_operation' %}",
        type : "PUT",
        data : {
          'appointment_date': appointment_date,
          'appointment_from_time': appointment_from_time,
          'appointment_to_time': appointment_to_time,
          'appointment_status': appointment_status,
          'appointment_id': appointment_id,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse,textMsg, xhr) {
          window.scrollTo(0, 0);
          doctor_homeReload();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          try {
            notify_message(xhr.responseJSON.res_message, 'danger');
          } catch (error) {
            alert('Please fill in all fields.');
          }
          try {
            populateSlots(xhr.responseJSON.available_slots);
            document.getElementById("selectAppointment").setAttribute("onclick", "selectAppointmentSlot('"+row_id+"');");
          } catch (error) {
            console.error("error", error);
          }
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function scheduleUpdateRow(button) {
      let tableRow = button.parentNode.parentNode;
      let unavailable_count = tableRow.querySelector('[name="id_unavailable_count_update"]').value;
      let schedule_status = tableRow.querySelector('[name="id_schedule_status_update"]').value;
      let schedule_id = button.getAttribute('data-schedule_id');

      $.ajax({
        url : "{% url 'dataStorage:schedule_operation' %}",
        type : "PUT",
        data : {
          'unavailable_count': unavailable_count,
          'schedule_status': schedule_status,
          'schedule_id': schedule_id,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse,textMsg, xhr) {
          window.scrollTo(0, 0);
          doctor_homeReload();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert("Unable to Updated Schedule.");
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function scheduleDeleteRow(button) {
      let schedule_id = button.getAttribute('data-schedule_id');
      $.ajax({
          url : "{% url 'dataStorage:schedule_operation' %}",
          type : "DELETE",
          data : {
            'schedule_id': schedule_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success : function(HttpResponse,textMsg, xhr) {
            window.scrollTo(0, 0);
            doctor_homeReload();
            $('#alertModal').modal('hide');
          },
          error : function(xhr, errmsg, err) {
            window.scrollTo(0, 0);
            location.reload();
          },
          statusCode: {
            401: function() {
              window.scrollTo(0, 0);
              location.reload();
            }
          }
      });
    }

    function doctor_homeReload() {
      $.ajax({
          url : "{% url 'dataStorage:doctor_home' %}",
          type : "GET",
          data : {},
          beforeSend: function (xhr) {},
          success : function(HttpResponse, textMsg, xhr) {
            window.scrollTo(0, 0);
            reloadElements(HttpResponse.data);
          },
          error : function(xhr, errmsg, err) {
            window.scrollTo(0, 0);
            location.reload();
          },
          statusCode: {
            401: function() {
              window.scrollTo(0, 0);
              location.reload();
            }
          }
      });
    }

    function deleteAppointmentRow(button) {
      let appointment_id = button.getAttribute('data-appointment_id');
      $.ajax({
          url : "{% url 'dataStorage:appointment_operation' %}",
          type : "DELETE",
          data : {
            'appointment_id': appointment_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success : function(HttpResponse,textMsg, xhr) {
            window.scrollTo(0, 0);
            doctor_homeReload();
            $('#alertModal').modal('hide');
          },
          error : function(xhr, errmsg, err) {
            window.scrollTo(0, 0);
            location.reload();
          },
          statusCode: {
            401: function() {
              window.scrollTo(0, 0);
              location.reload();
            }
          }
      });
    }

    function populatePrescriptions(prescriptions) {
      let prescription_cardsEle = document.getElementById('prescription_cards');
      let row = '';
      let pres_url = "{% url 'dataStorage:prescription_operation' %}"
      prescription_cardsEle.innerHTML = row;
      prescriptions.forEach(prescription => {
        row = row + `<div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">`+prescription.name+`</div>
            <div class="card-body text-center">
              <div class="d-flex justify-content-between">
                <a class="btn btn-sm btn-success float-begin" id="prescription_`+prescription.id+`"
                href="`+pres_url+`?prescription_id=`+prescription.id+`" target="pres">View</a>
                <button class="btn btn-sm btn-info float-end prescription_btn"
                id="prescription_btn_`+prescription.id+`" data-prescription_id="`+prescription.id+`">Download</button>
              </div>
              <h5 class="card-title" hidden>Primary card title</h5>
              <p class="card-text" hidden>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>`;
      });
      prescription_cardsEle.innerHTML = row;
      document.querySelectorAll(".prescription_btn").forEach(ele => {
        ele.addEventListener("click", function() {
          let prescription_id = ele.getAttribute("data-prescription_id");
          $.ajax({
            url : "{% url 'dataStorage:prescription_operation' %}",
            type : "POST", // http method
            data : {
              'prescription_id': prescription_id,
              'mode': 'download',
              'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success : function(json,textMsg, xhr) {
              var link = document.createElement("a");
              link.download = json.filename;
              link.href = json.fileURL;
              link.target = "_blank";
              link.click();
            },
            error : function(xhr, errmsg, err) {
              window.scrollTo(0, 0);
              location.reload();
            },
            statusCode: {
              401: function() {
                window.scrollTo(0, 0);
                location.reload();
              }
            }
          });
        });
      });
    }

    function modifyPatient(ele) {
      let patient_id = ele.getAttribute("data-patient_id");
      $.ajax({
        url : "{% url 'dataStorage:patient_info' %}",
        type : "GET",
        data : {
          "patient_id": patient_id,
        },
        beforeSend: function (xhr) {},
        success : function(HttpResponse, textMsg, xhr) {
          window.scrollTo(0, 0);
          let divEle = document.getElementById('modifyPatientModalBody');
          divEle.setAttribute('data-patient_id', patient_id);
          divEle.querySelector('#id_patient').value = HttpResponse.patient.name;
          divEle.querySelector('#id_date_of_birth').value = HttpResponse.patient.date_of_birth;
          divEle.querySelector('#id_phone_number').value = HttpResponse.patient.phone_number;
          $('#modifyPatient').modal('show');
        },
        error : function(xhr, errmsg, err) {
          window.scrollTo(0, 0);
          location.reload();
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function modifyPatientDetail() {
      let divEle = document.getElementById('modifyPatientModalBody');
      let patient_id = divEle.getAttribute("data-patient_id");
      let patient_name = divEle.querySelector('#id_patient').value;
      let date_of_birth = divEle.querySelector('#id_date_of_birth').value;
      let phone_number = divEle.querySelector('#id_phone_number').value;
      $.ajax({
        url : "{% url 'dataStorage:patient_info' %}",
        type : "POST",
        data : {
          "patient_name": patient_name,
          "date_of_birth": date_of_birth,
          "phone_number": phone_number,
          "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        beforeSend: function (xhr) {},
        success : function(HttpResponse, textMsg, xhr) {
          window.scrollTo(0, 0);
          document.getElementById("patient_"+patient_id).click();
          $('#modifyPatient').modal('hide');
        },
        error : function(xhr, errmsg, err) {
          window.scrollTo(0, 0);
          location.reload();
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }
  </script>
{% endblock content %}
