{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %}
#patient_list_div, #patient_info_div {
  height: calc(100vh - 25vh);
  background-color: lightgrey;
  overflow-y:auto;
  overflow-x:hidden;
}

#PrescriptionModalBody {
  height: calc(100vh - 30vh);
  overflow-y:auto;
  overflow-x:hidden;
}

.small-close-btn {
  height: 0.25em;
  width: 0.25em;
  padding: 0.25em 0.25em;
  padding-y: 0.25rem;
  padding-x: 0.25rem;
  font-size: 1rem;
  border-radius: var(--bs-border-radius-sm);
}

.num {
  width: 40px;
  display: inline-block;
}

.nav-tabs {
  border-bottom: 2px solid black;
}

.nav-tabs > .nav-item {
  margin-right: 2px;
  margin-left: 2px;
}

.nav-tabs > .active > a {
  border-bottom: none;
  position: relative;
  top: 2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.nav-item > .need_review {
  color: white;
  background-color: #dc3545;
}

.nav-tabs .nav-link.active {
  color: black;
  background-color: #ffc107;
}

.nav-item > .reviewed {
  color: white;
  background-color: #198754;
}

.ui-datepicker, .datepicker-dropdown, .dropdown-menu, .table-condensed {
  width: 350px;
}

.disabled-date {
  color: red;
  text-color: red;
}
{% endblock styles %}

{% block content %}
<nav hidden>
  <ul class="pagination justify-content-center scrollable-div" id="legend">
    <strong></strong>
  </ul>
</nav>

<div class="modal fade" id="addPrescriptionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header">
            Add Prescription(s) for <span id="prescriptionPatientName"></span>
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="card-body" id="PrescriptionModalBody"></div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-primary float-left" id="addBtn">Add</button>
            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" onclick="$('#addPrescriptionModal').modal('hide');">Close</button>
            <button type="button" class="btn btn-success float-right" onclick="processPrescription();">Create Prescription</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<datalist id="id_medicine_list">
  {% for medicine in medicines %}
  <option value="{{medicine.name}}">{{medicine.name}}</option>
  {% endfor %}
</datalist>

<datalist id="id_patients_list">
  {% for patient in patients %}
  <option value="{{patient.id}}">{{patient.name}}</option>
  {% endfor %}
</datalist>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog">
  <div class="modal-dialog ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header"></div>
          <div class="card-body" id="alertModalBody">
            <p id="alertMessage"></p>
          </div>
          <div class="modal-footer justify-content-between">
            <button class="btn btn-sm btn-primary" data-dismiss="modal" onclick="$('#alertModal').modal('hide');">Cancel</button>
            <button class="btn btn-sm btn-danger" id="confirmDeleteBtn">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addPatient" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg ui-front" role="document">
    <div class="modal-content" style='background-color:rgb(255,255,255,0); border:0px'>
      <div class="modal-body">
        <div class="card border-dark mb-3">
          <div class="card-header">
            Add Patient Detail
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="card-body" id="addPatientModalBody">
            <div class='col-md-12'>{{ patientForm.patient | as_crispy_field }}</div>
            <div class="row">
              <div class='col-md-6'>{{ patientForm.date_of_birth | as_crispy_field }}</div>
              <div class='col-md-6'>{{ patientForm.phone_number | as_crispy_field }}</div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" onclick="$('#addPatient').modal('hide');">Close</button>
            <button type="button" class="btn btn-success float-right" onclick="addPatientDetail();">Add Patient</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="patient_list" data-bs-toggle="tab" data-bs-target="#patient_tab">Patient(s)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="appointment_list" data-bs-toggle="tab" data-bs-target="#appointment_tab">Appointment(s)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="schedule_list" data-bs-toggle="tab" data-bs-target="#schedule_tab">Schedule(s)</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="patient_tab" role="tabpanel" aria-labelledby="patient_tab">
    <div class="row">
      <div class="col-2 border border-success p-2 mb-2 border-5" id="patient_list_div">
        <input type="text" onkeyup="filter_patient()" id="id_filter_patient" class="form-control my-2" placeholder="Filter Patient(s)">
        <div class="accordion" id="patients">
          <ul class="list-group">
            <li style="cursor: pointer;" id="add_patient" onclick="$('#addPatient').modal('show');"
              class="card-body list-group-item list-group-item-action border border-dark patient text-center">
              <button type="button" class="btn btn-sm btn-success col-block">
                Add Patient
              </button>
            </li>
            {% for patient in patients %}
            <li style="cursor: pointer;" class="card-body list-group-item list-group-item-action border border-dark patient" id="patient_{{patient.id}}"
              data-patient_id="{{patient.id}}" data-patient_name="{{patient.name}}" data-patient_age="{{patient.age}}" onclick="showPatientDetails(this);">
              {{patient.name}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-10 border border-primary p-2 mb-2 border-5" id="patient_info_div">
        <div id="patient_info" hidden>
          <ul class="list-group">
            <li class="list-group-item border border-dark">
              <div class="row">
                  <div class="col-5">
                    <strong>Patient Name: </strong><span id="patient_info_name"></span>
                  </div>
                  <div class="col-4">
                    <strong>Patient Age: </strong><span id="patient_info_age"></span>
                  </div>
                  <div class="col-2">
                    <strong>Patient ID: </strong><span id="patient_info_id"></span>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-sm btn-primary float-end" onclick="$('#addPrescriptionModal').modal('show')">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
              </div>
            </li>
          </ul>
        </div>
        <br/>
        <div id="patient_prescription" hidden>
          <div class="row" id="prescription_cards"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="appointment_tab" role="tabpanel" aria-labelledby="appointment_tab">
    <table class="table table-hover table-fixed table-sm table-success">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Patient Name</th>
          <th>Appointment From</th>
          <th>Appointment To</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        {% for appointment in appointments %}
        <tr>
          <td>{{appointment.patient_id}}</td>
          <td>{{appointment.patient_name}}</td>
          <td>
            <span name="span_from_date_time_update">{{appointment.appointment_from_date_time_str}}</span>
            <input type="datetime-local" name="id_from_date_time_update"
              class="textinput textInput form-control" hidden value="{{appointment.appointment_from_date_time}}">
          </td>
          <td>
            <span name="span_to_date_time_update">{{appointment.appointment_to_date_time_str}}</span>
            <input type="datetime-local" name="id_to_date_time_update"
              class="textinput textInput form-control" hidden value="{{appointment.appointment_to_date_time}}">
          </td>
          <td>
            <span name="span_appointment_status_update">{{appointment.appointment_status}}</span>
            <select name="id_appointment_status_update" class="form-select" hidden>
              {% for status_choice in status_choices %}
              <option value="{{status_choice.0}}" {% if appointment.appointment_status == status_choice.0 %}selected="selected"{% endif %}>{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td hidden name="id_appointment_id_update">{{appointment.appointment_id}}</td>
          <td>
            <button onclick="showUpdateForm(this);" class="btn btn-sm btn-primary"
              data-from_date_time="{{appointment.appointment_from_date_time}}"
              data-to_date_time="{{appointment.appointment_to_date_time}}"
              data-patient_id="{{appointment.patient_id}}"
              data-appointment_id="{{appointment.appointment_id}}">Update</button>
            <button onclick="confirmDelete(this);" data-appointment_id="{{appointment.appointment_id}}" class="btn btn-sm btn-danger">Delete</button>
            <button onclick="updateRow(this);" class="btn btn-sm btn-success" hidden>Done</button>
            <button onclick="cancelUpdate(this);" class="btn btn-sm btn-secondary" hidden>Cancel</button>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2">
            <input type="text" name="patient" autocomplete="off" class="textinput textInput form-control" id="id_patient_insert" list="id_patients_list">
          </td>
          <td>
            <input type="datetime-local" id="id_from_date_time_insert" class="textinput textInput form-control">
          </td>
          <td>
            <input type="datetime-local" id="id_to_date_time_insert" class="textinput textInput form-control">
          </td>
          <td>
            <select name="appointment_status" id="id_appointment_status_insert" class="form-select">
              {% for status_choice in status_choices %}
              <option value="{{status_choice.0}}">{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <button onclick="insertRow(this);" class="btn btn-outline-primary">Insert Appointment</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="schedule_tab" role="tabpanel" aria-labelledby="schedule_tab">
    <table class="table table-hover table-fixed table-sm table-success">
      <thead>
        <tr>
          <th>Schedule Month Year</th>
          <th>Unavailable Days</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="schedule_tableBody">
        {% for schedule in schedules %}
        <tr>
          <td>{{schedule.schedule_month_year}}</td>
          <td>
            <span name="span_unavailable_count_update">{{schedule.rejected_days_count}}</span>
            <input type="datetime-local" name="id_unavailable_count_update"
              class="textinput textInput form-control" hidden value="{{schedule.rejected_days}}">
          </td>
          <td>
            <span name="span_schedule_status_update">{{schedule.status}}</span>
            <select name="id_schedule_status_update" class="form-select" hidden>
              {% for status_choice in schedule_status_choices %}
              <option value="{{status_choice.0}}" {% if schedule.status == status_choice.0 %}selected="selected"{% endif %}>{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <button onclick="showScheduleUpdateForm(this);" class="btn btn-sm btn-primary">Update</button>
            <button onclick="scheduleConfirmDelete(this);" data-schedule_id="{{schedule.schedule_id}}" class="btn btn-sm btn-danger">Delete</button>
            <button onclick="scheduleUpdateRow(this);" class="btn btn-sm btn-success" hidden>Done</button>
            <button onclick="scheduleCancelUpdate(this);" class="btn btn-sm btn-secondary" hidden>Cancel</button>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td>
            <input type="month" name="schedule_month" autocomplete="off" class="form-control" id="id_schedule_month_insert">
          </td>
          <td>
            <input type="text" id="id_schedule_days_insert" class="datepicker_multiple form-control">
          </td>
          <td>
            <select name="schedule_status" id="id_schedule_status_insert" class="form-select">
              {% for status_choice in schedule_status_choices %}
              <option value="{{status_choice.0}}">{{status_choice.1}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <button onclick="scheduleInsertRow(this);" class="btn btn-outline-primary">Insert Schedule</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <script type="application/javascript">
    $(function(){
      $('.datepicker_single').datepicker({
        // startDate: '{{start_date}}',
        // endDate: '{{last_date}}',
        format: 'dd-M-yyyy',
        autoclose: true,
        monthNames: ['January','February','March','April','May','June','July','August','September','October','November','December'],
        monthNamesShort: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        daysOfWeekDisabled: [0,6],
        weekStart: 1,
        calendarWeeks: true,
      });

      $('.datepicker_multiple').datepicker({
        startDate: new Date(),
        // endDate: '{{last_date}}',
        multidate: true,
        // autoclose: true,
        calendarWeeks: true,
        format: "dd-M-yyyy",
        daysOfWeekHighlighted: "0",
        daysOfWeekDisabled: [0],
        datesDisabled: ['16-04-2024'],
        language: 'en',
        weekStart: 1,
      }).on('changeDate', function(e) {
        $(this).find('.input-group-addon .count').text(' ' + e.dates.length);
        console.log(e.dates.length);
      });

      document.getElementById('addBtn').addEventListener('click', event => {
        form = `<div class="input-group input-group-sm mb-3">
          <input type="text" name="medicine_name" class="form-control form-control-sm my-2" placeholder="Medicine Name" style="width: 130px;" list="id_medicine_list" autocomplete="off">
          <input type="number" name="before_breakfast" class="form-control form-control-sm my-2" placeholder="Before Breakfast" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="after_breakfast" class="form-control form-control-sm my-2" placeholder="After Breakfast" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="before_lunch" class="form-control form-control-sm my-2" placeholder="Before Lunch" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="after_lunch" class="form-control form-control-sm my-2" placeholder="After Lunch" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="before_dinner" class="form-control form-control-sm my-2" placeholder="Before Dinner" min="0" oninput="validity.valid||(value='');">
          <input type="number" name="after_dinner" class="form-control form-control-sm my-2" placeholder="After Dinner" min="0" oninput="validity.valid||(value='');">
          <span class="input-group-text">
            <button type="button" class="btn-close small-close-btn my-2" name="remove_medicine"></button>
          </span>
          <p class="invalid-feedback"><strong>This field required valid value</strong></p>
        </div>`
        document.getElementById('PrescriptionModalBody').insertAdjacentHTML('beforeend', form);
        identityRemoveBtn = document.querySelectorAll('button[name="remove_medicine"]');
        identityRemoveBtn.forEach(el => el.addEventListener('click', event => {
          event.target.parentNode.parentNode.remove();
        }));
      });
    });

    function filter_patient() {
      var filter, i;
      filter = document.getElementById("id_filter_patient").value.toUpperCase();
      let cells = document.querySelectorAll('.patient');
      for (i = 0; i < cells.length; i++) {
        let patient_name = cells[i].getAttribute('data-patient_name');
        let patient_id = cells[i].getAttribute('data-patient_id');
        if ((patient_name.toUpperCase().indexOf(filter) > -1) || (patient_id.toUpperCase().indexOf(filter) > -1)) {
          cells[i].style.display = "";
        } else {
          cells[i].style.display = "none";
        }
      }
    }

    function showPatientDetails(ele) {
      let patient_name = ele.getAttribute('data-patient_name');
      let patient_id = ele.getAttribute('data-patient_id');
      let patient_age = ele.getAttribute('data-patient_age');
      document.getElementById('patient_info').removeAttribute('hidden');
      document.getElementById('patient_prescription').removeAttribute('hidden');
      document.getElementById('patient_info_name').innerText = patient_name;
      document.getElementById('prescriptionPatientName').innerText = patient_name;
      document.getElementById('patient_info_id').innerText = patient_id;
      document.getElementById('patient_info_age').innerText = patient_age;
      document.querySelectorAll('.patient').forEach(x => {
        x.classList.remove("active");
      });
      ele.classList.add("active");
      fetchPatientDetails(patient_id);
    }

    function populatePrescriptions(prescriptions) {
      let prescription_cardsEle = document.getElementById('prescription_cards');
      let row = '';
      prescription_cardsEle.innerHTML = row;
      prescriptions.forEach(prescription => {
        row = row + `<div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">`+prescription.name+`</div>
            <div class="card-body text-center">
              <button class="btn btn-sm btn-success float-center" id="prescription_`+prescription.id+`">View</button>
              <h5 class="card-title" hidden>Primary card title</h5>
              <p class="card-text" hidden>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>`;
      });
      prescription_cardsEle.innerHTML = row;
    }

    function createPrescription() {
      let medicine_name = document.querySelectorAll('[name="medicine_name"]');
      let before_breakfast = document.querySelectorAll('[name="before_breakfast"]');
      let after_breakfast = document.querySelectorAll('[name="after_breakfast"]');
      let before_lunch = document.querySelectorAll('[name="before_lunch"]');
      let after_lunch = document.querySelectorAll('[name="after_lunch"]');
      let before_dinner = document.querySelectorAll('[name="before_dinner"]');
      let after_dinner = document.querySelectorAll('[name="after_dinner"]');

      let prescription_list = [];
      for (let index = 0; index < medicine_name.length; index++) {
        if (medicine_name[index].value != '') {
          var obj = new Object();
          obj.medicine_name = medicine_name[index].value;
          obj.before_breakfast = Number(before_breakfast[index].value);
          obj.after_breakfast = Number(after_breakfast[index].value);
          obj.before_lunch = Number(before_lunch[index].value);
          obj.after_lunch = Number(after_lunch[index].value);
          obj.before_dinner = Number(before_dinner[index].value);
          obj.after_dinner = Number(after_dinner[index].value);
          prescription_list.push(obj);
        }
      }
      if (prescription_list != []) {
        return JSON.stringify(prescription_list);
      } else {
        alert('Please fill in all fields.');
      }
    }

    function addPatientDetail() {
      let patient_name = document.getElementById('id_patient').value;
      let date_of_birth = document.getElementById('id_date_of_birth').value;
      let phone_number = document.getElementById('id_phone_number').value;
      $.ajax({
        url : "{% url 'dataStorage:patient_operation' %}",
        type : "POST",
        data : {
          'patient_name': patient_name,
          'date_of_birth': date_of_birth,
          'phone_number': phone_number,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse, textMsg, xhr) {
          notify_message(HttpResponse.message, 'success');
          window.scrollTo(0, 0);
          location.reload();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function fetchPatientDetails(patient_id) {
      $.ajax({
        url : "{% url 'dataStorage:patient_operation' %}",
        type : "GET",
        data : {
          'patient_id': patient_id,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse, textMsg, xhr) {
          notify_message(HttpResponse.message, 'info');
          window.scrollTo(0, 0);
          populatePrescriptions(HttpResponse.prescriptions);
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function processPrescription() {
      let patient_id = document.getElementById('patient_info_id').innerText;
      $.ajax({
        url : "{% url 'dataStorage:patient_operation' %}",
        type : "PUT",
        data : {
          'patient_id': patient_id,
          'prescription': createPrescription(),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse, textMsg, xhr) {
          notify_message(HttpResponse.message, 'info');
          window.scrollTo(0, 0);
          document.getElementById("PrescriptionModalBody").innerHTML = "";
          $('#addPrescriptionModal').modal('hide');
          document.getElementById("patient_"+patient_id).click();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function insertRow() {
      let patient = document.getElementById('id_patient_insert').value;
      let from_date_time = document.getElementById('id_from_date_time_insert').value;
      let to_date_time = document.getElementById('id_to_date_time_insert').value;
      let appointment_status = document.getElementById('id_appointment_status_insert').value;
      $.ajax({
        url : "{% url 'dataStorage:appointment_operation' %}",
        type : "POST",
        data : {
          'patient': patient,
          'from_date_time': from_date_time,
          'to_date_time': to_date_time,
          'appointment_status': appointment_status,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse,textMsg, xhr) {
          window.scrollTo(0, 0);
          location.reload();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function scheduleInsertRow() {
      let schedule_month = document.getElementById('id_schedule_month_insert').value;
      let schedule_days = document.getElementById('id_schedule_days_insert').value;
      let schedule_status = document.getElementById('id_schedule_status_insert').value;
      $.ajax({
        url : "{% url 'dataStorage:schedule_operation' %}",
        type : "POST",
        data : {
          'schedule_month': schedule_month,
          'schedule_days': schedule_days,
          'schedule_status': schedule_status,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse,textMsg, xhr) {
          window.scrollTo(0, 0);
          location.reload();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert('Please fill in all fields.');
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function showUpdateForm(button) {
      let tableRow = button.parentNode.parentNode;
      tableRow.querySelector('[name="span_from_date_time_update"]').setAttribute('hidden', '');
      tableRow.querySelector('[name="span_to_date_time_update"]').setAttribute('hidden', '');
      tableRow.querySelector('[name="span_appointment_status_update"]').setAttribute('hidden', '');
      tableRow.querySelector('.btn-danger').setAttribute('hidden', '');
      button.setAttribute('hidden', '');

      tableRow.querySelector('[name="id_from_date_time_update"]').removeAttribute('hidden');
      tableRow.querySelector('[name="id_to_date_time_update"]').removeAttribute('hidden');
      tableRow.querySelector('[name="id_appointment_status_update"]').removeAttribute('hidden');

      tableRow.querySelector('.btn-success').removeAttribute('hidden');
      tableRow.querySelector('.btn-secondary').removeAttribute('hidden');
    }

    function cancelUpdate(button) {
      let tableRow = button.parentNode.parentNode;
      tableRow.querySelector('[name="span_from_date_time_update"]').removeAttribute('hidden');
      tableRow.querySelector('[name="span_to_date_time_update"]').removeAttribute('hidden');
      tableRow.querySelector('[name="span_appointment_status_update"]').removeAttribute('hidden');
      tableRow.querySelector('.btn-danger').removeAttribute('hidden');
      tableRow.querySelector('.btn-primary').removeAttribute('hidden');
      button.setAttribute('hidden', '');

      tableRow.querySelector('[name="id_from_date_time_update"]').setAttribute('hidden', '');
      tableRow.querySelector('[name="id_to_date_time_update"]').setAttribute('hidden', '');
      tableRow.querySelector('[name="id_appointment_status_update"]').setAttribute('hidden', '');

      tableRow.querySelector('.btn-success').setAttribute('hidden', '');
      tableRow.querySelector('.btn-secondary').setAttribute('hidden', '');
    }

    function updateRow(button) {
      let tableRow = button.parentNode.parentNode;
      let from_date_time = tableRow.querySelector('[name="id_from_date_time_update"]').value;
      let to_date_time = tableRow.querySelector('[name="id_to_date_time_update"]').value;
      let appointment_status = tableRow.querySelector('[name="id_appointment_status_update"]').value;
      let appointment_id = tableRow.querySelector('[name="id_appointment_id_update"]').innerText;

      $.ajax({
        url : "{% url 'dataStorage:appointment_operation' %}",
        type : "PUT",
        data : {
          'from_date_time': from_date_time,
          'to_date_time': to_date_time,
          'appointment_id': appointment_id,
          'appointment_status': appointment_status,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success : function(HttpResponse,textMsg, xhr) {
          window.scrollTo(0, 0);
          location.reload();
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr);
          window.scrollTo(0, 0);
          alert("Patient ID not found. Unable to update the row.");
        },
        statusCode: {
          401: function() {
            window.scrollTo(0, 0);
            location.reload();
          }
        }
      });
    }

    function deleteRow(button) {
      let appointment_id = button.getAttribute('data-appointment_id');
      $.ajax({
          url : "{% url 'dataStorage:appointment_operation' %}",
          type : "DELETE",
          data : {
            'appointment_id': appointment_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success : function(HttpResponse,textMsg, xhr) {
            window.scrollTo(0, 0);
            location.reload();
          },
          error : function(xhr, errmsg, err) {
            window.scrollTo(0, 0);
            location.reload();
          },
          statusCode: {
            401: function() {
                window.scrollTo(0, 0);
                location.reload();
            }
          }
      });
    }

    function showAlert(message, buttonElement) {
      $('#alertModal').modal('show');
      let alertMessage = document.getElementById("alertMessage");
      let confirmDeleteBtn = document.getElementById("confirmDeleteBtn");

      alertMessage.textContent = message;
      confirmDeleteBtn.addEventListener('click', event => {
        deleteRow(buttonElement);
      });
    }

    function confirmDelete(button) {
      showAlert("Are you sure you want to delete this patient's Appointment?", button);
    }
  </script>
{% endblock content %}
