{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="content-section" style="padding-left:20px">
    <form method="post" action="" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Registration</legend>
            <div class='col-md-6'>{{ form.username | as_crispy_field }}</div>
            <div class="col-md-6">
                <div id="div_id_date_of_birth" class="mb-3">
                    <label for="id_date_of_birth" class="form-label requiredField">
                    Date of Birth<span class="asteriskField">*</span>
                    </label>
                    <input type="text" name="date_of_birth" tabindex="1" class="datepicker_dob form-control" data-date-format="dd/mm/yyyy" required="required" autocomplete="off" id="id_date_of_birth">
                </div>
            </div>
            <div class="col-md-6">
                <div id="div_id_phone_number" class="mb-3">
                    <label for="id_phone_number" class="form-label requiredField">
                    Phone Number<span class="asteriskField">*</span>
                    </label>
                    <input type="text" name="phone_number" class="textinput form-control" required="" id="id_phone_number">
                </div>
            </div>
            <div class='col-md-6'>{{ form.email | as_crispy_field }}</div>
            <div class='col-md-6'>{{ form.password1 | as_crispy_field }}</div>
            <div class='col-md-6'>{{ form.password2 | as_crispy_field }}</div>
        </fieldset>
        <div class="row form-group">
            <input type="submit" class="btn btn-sm btn-outline-primary col-md-6 text-left" value="{% trans 'Submit' %}" />
        </div>
    </form>
</div>
<script type="application/javascript">
    $(function(){
        $('.datepicker_dob').datepicker({
            format: 'dd-M-yyyy',
            autoclose: true,
            monthNames: ['January','February','March','April','May','June','July','August','September','October','November','December'],
            monthNamesShort: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
            weekStart: 0,
            calendarWeeks: true,
        });
    });
</script>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
