.body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
}

 /* Carousel styles */
  .carousel {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Responsive navbar */
  .navbar {
    background-color: #b8abf1;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    width: 100px;
    height: 55px;
    color: #333;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
}

.navbar-links a:hover {
    background-color: #785cf5;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    width: 30px;
    height: 21px;
    position: relative;
    cursor: pointer;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block;
    background: white;
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.2s ease;
}

.nav-toggle-label span::before {
    content: '';
    top: -8px;
}

.nav-toggle-label span::after {
    content: '';
    top: 8px;
}

@media (max-width: 768px) {
    .nav-toggle-label {
        display: block;
    }

    .navbar-links {
        position: absolute;
        background-color: #333;
        right: 0;
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .navbar-links a {
        padding: 15px;
    }

    .nav-toggle:checked + .nav-toggle-label + .navbar-links {
        display: flex;
    }
}
/* ABOUT */
.about-section {
    display: flex;
    align-items: center;
    max-width: 900px;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
  }
  
  .text-content {
    flex: 1;
    text-align: left;
    margin-right: 40px;
    text-align: justify;
    font-size: 20px;
    color: black;
  }
  
  .text-content h2 {
    margin-top: 0;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
  }
  
  .image-container {
    flex-shrink: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .round-image {
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
    object-fit: cover;
  }

  
  /* /cards/ */
  .cards-section h2 {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
  }

  /* /contact/ */
  .contact-section {
    
    padding: 80px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin: -20px;
  }
  
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 20px;
  }

  .col-md-4 h2{
color:black;
  }
  
  .opening-hours,
  .clinic-info,
  .social-links {
    box-shadow: 0 4px 6px rgba(0, 13, 12, 0.975);
    border-radius: 8px;
    color: black;
    padding: 30px;
    
  }
  
  .opening-hours p,
  .clinic-info p {
    margin: 10px 0;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #007bff;
  }


  /* /PopUp Register/ */
  .register-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .register-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 400px;
    max-width: 90%;
  }
  
  .register-content h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .register-content label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .register-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .submit-button,
  .reset-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover,
  .reset-button:hover {
    background-color: #7700b3;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #333;
    text-decoration: none;
  }

  /* /Popup Login/ */
  .login-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .login-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
  }
  
  .login-content h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-content label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .login-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .submit-button,
  .reset-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover,
  .reset-button:hover {
    background-color: #7700b3;
  }
  
  .forgot-password {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #333;
    text-decoration: none;
  }

  

  .forgot-password:hover{
    background-color: #d89bf6;
  }
  .forgot-password-popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .forgot-password-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  .Ok-button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Ok-button:hover{
    background-color: #7700b3;
  }


  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }